
    .body-template-mobile{
        position: relative;
        z-index: -100;
    }
    
    .body-template-mobile img{
        margin-top: 12rem;
        width: 5.16rem;
        height: 27.93rem;
    }


@media screen and (max-width: 640px){
    .body-template-mobile{
        padding-top: 1rem;
        height: 100%;
        transform: rotateY(180deg);
        position: absolute;
        z-index: -100;
    }

    .body-template-mobile img{
        margin-top: 17rem;
        width: 5.16rem;
        height: 25.93rem;
    }
}

