    .cards-pets{
        background-color: #F6F6F6;
        width: 21rem;
    }

    .cards-pets .card-pets{
        display: flex;
        margin-top: 0.5rem;
        margin-bottom: 0.6rem;
    }

    .cards-pets .card-pets .pet-name{
        color: #3772FF;
        font-size: 22px;
        font-weight:bold;
        margin-bottom: 0.5rem;
    }

    .cards-pets .card-pets .pet-character{
        padding-bottom: 0.7rem;
        color:#737380;;
    }

    .cards-pets .card-pets .pet-img{
        padding-right: 1.5rem;
        max-height: 9.5rem;
    }

    .cards-pets .card-pets .pet-contact{
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        color: #737380;;
    }

    .cards-pets .card-pets .pet-footer-contact{
        display: flex;
        padding-top: 0.4rem;
    }
@media screen and (max-width: 640px){
    .cards-pets{
        background-color: #F6F6F6;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cards-pets .card-pets{
        display: flex;
        margin-top: 0.5rem;
        margin-bottom: 0.6rem;
    }

    .cards-pets .card-pets .pet-name{
        color: #3772FF;
        font-size: 22px;
        font-weight:bold;
        margin-bottom: 0.5rem;
    }

    .cards-pets .card-pets .pet-character{
        padding-bottom: 0.7rem;
        color:#737380;;
    }

    .cards-pets .card-pets .pet-img{
        padding-right: 1.5rem;
        max-height: 9.5rem;
    }

    .cards-pets .card-pets .pet-contact{
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        color: #737380;;
    }

    .cards-pets .card-pets .pet-footer-contact{
        display: flex;
        padding-top: 0.4rem;
    }
}