@media screen and (max-width: 640px){
    .pag-perfil{
        padding-top: 7.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .texto-perfil{
        color:#3772FF;
        max-width: 14rem;
        max-height: 3.75rem;
        text-align: center;
        margin-bottom: 3rem;
    }

}