.navbar-model ul li .item3{
    padding-left: 10rem;
}

.navbar-model ul li .item1{
    padding-bottom: 2rem;
}
.navbar-model ul li .item2{
    padding-bottom: 2rem;
}

@media screen and (max-width: 640px){
    .navbar-model ul li .item3{
        padding-left: 4rem;
    }

    .navbar-model ul li .item1{
        padding-bottom: 2rem;
    }
    .navbar-model ul li .item2{
        padding-bottom: 2rem;
    }

}