@media screen and (max-width: 640px){
    .navbar-model ul li .item3{
        padding-left: 7rem;
    }

    .navbar-model ul li .item1{
        padding-bottom: 2rem;
    }
    .navbar-model ul li .item2{
        padding-bottom: 2rem;
    }

}