@media screen and (max-width: 640px){

.backgroundHeader{
    height: 12em;
    background-image: url("src/imgFundo/Forma1.png"), url("src/imgFundo/Detalhe1.png");
    background-size: 22em 13em, 24em 13em;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #3772FF;
    position: relative; 
    margin-bottom: -1rem;  
}



}



@media screen and (min-width: 1700px) {
    
}


header .logo2{
    display: none;
}

.item3{
    display: none;
}






