@media (min-width: 901px) {
  .navbar-model{
    position: relative;
    }
    
    .navbar-model ul{
        list-style: none;
    }

    .navbar-model ul li{
        display: inline;
    }
    .navbar-model ul li img{
        padding: 1.7rem;
    }

    .navbar-model ul li img:hover{
        cursor: pointer;
    }

    .item3{
        width: 2.1rem;
        margin-left: 55rem;
        margin-bottom: 0.5rem;
    }  
}


@media (max-width: 900px){
    .navbar-model{
        position: relative;
        }
        
        .navbar-model ul{
            list-style: none;
        }
        .navbar-model ul li{
            display: inline;
        }
        .navbar-model ul li img{
            padding: 1.7rem;
        }
    
        .item3{
            width: 2.1rem;
            margin-bottom: 0.5rem;
        }  
}

@media screen and (max-width: 640px){
    .navbar-model{
        position: relative;
    }
    
    .navbar-model ul{
        list-style: none;
    }
    .navbar-model ul li{
        display: inline;
    }
    .navbar-model ul li img{
        padding: 1.7rem;
    }

    .item3{
        width: 2.1rem;
        margin-bottom: 0.5rem;
        margin-left: 2.6rem;
    }
}