
.form-perfil .foto-component{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-perfil .perfil-picture{
    max-width: 5rem;
    border-radius: 64px;
}
.form-perfil h2{
    color: #737380;
}
.form-perfil h6{
    color:red;
    padding-bottom: 1rem;
}

.form-perfil input{
    background-color: #FFF;
}
.form-perfil textarea{
    background-color: #FFF;
}

.form-perfil .form-component textarea{
    height: 8rem;
}
@media screen and (max-width: 640px){
    .form-perfil .perfil-picture{
        max-width: 5rem;
        border-radius: 64px;
    }
    .form-perfil h2{
        color: #737380;
        position: relative;
        padding-bottom: 3rem;
    }
    .form-perfil h6{
        color:red;
        padding-bottom: 1rem;
    }

    .form-perfil .form-component textarea{
        height: 8rem;
    }

}