
.form-perfil .foto-component{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-perfil .campo-texto-foto{
    margin-bottom: 1rem;
    width: 14.5rem;
    height: 2rem;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
    border: none;
    border-radius: 6px;
    text-align: center;
}

.form-perfil .perfil-picture{
    z-index: 100;
    max-width: 5rem;
    border-radius: 64px;
    margin-bottom: 2rem;
}
.form-perfil h2{
    color: #737380;
}
.form-perfil h6{
    color:red;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.form-perfil input{
    background-color: #FFF;
}
.form-perfil textarea{
    background-color: #FFF;
}

.form-perfil .form-component textarea{
    height: 8rem;
}
@media screen and (max-width: 640px){
    .form-perfil .perfil-picture{
        max-width: 5rem;
        border-radius: 64px;
    }
    .form-perfil h2{
        color: #737380;
        position: relative;
        padding-bottom: 3rem;
    }
    .form-perfil h6{
        color:red;
        padding-bottom: 1rem;
    }

    .form-perfil .form-component textarea{
        height: 8rem;
    }

}