.patas{
    position: absolute;
    top: 0;
    right: 0;
  
}

.patas img{
    width: 10rem;
}

@media screen and (max-width: 640px){
    .patas{
        position: absolute;
        top: 0;
        right: 0;
    }
    .patas img{
        width: 7rem;
    };

}